@font-face {
  font-family: "Gotham";
  font-weight: 700;
  src: url("../Assets/Fonts/Gotham-Black.woff") format("woff");
}
@font-face {
    font-family: "Gotham";
    font-weight: 700;
    font-style: italic;
    src: url("../Assets/Fonts/Gotham-BlackItalic.woff") format("woff");
  }
@font-face {
  font-family: "Gotham";
  font-weight: 600;
  src: url("../Assets/Fonts/Gotham-Bold.woff") format("woff");
}

@font-face {
    font-family: "Gotham";
    font-weight: 600;
    font-style: italic;
    src: url("../Assets/Fonts/Gotham-BoldItalic.woff") format("woff");
  }

  @font-face {
    font-family: "Gotham";
    font-weight: 500;
    src: url("../Assets/Fonts/Gotham-Medium.woff") format("woff");
  }
  @font-face {
    font-family: "Gotham";
    font-weight: 500;
    font-style: italic;
    src: url("../Assets/Fonts/Gotham-MediumItalic.woff") format("woff");
  }

  @font-face {
    font-family: "Gotham";
    font-weight: 800;
    
    src: url("../Assets/Fonts//Gotham-Ultra.woff") format("woff");
  }
  @font-face {
    font-family: "Gotham";
    font-weight: 800;
    font-style: italic;
    src: url("../Assets/Fonts//Gotham-UltraItalic.woff") format("woff");
  }