@import "./Generales/variables";
@import "./Generales/variablesAdmin";
@import "./Generales/componentes";
@import "./fonts";
@import "../Paginas/Estructura/estructura";
@import "../Paginas/paginas";
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: $secondary-font;
}
@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}