

$primary-color-ligth:#4C6EF5;
$primary-color:#2C3E50;
$primary-color-dark:#1A242F;

$secondary-color-ligth:#c7a4f2;
$secondary-color:#FFFFFF;
$secondary-color-dark:#5f3a7f;



$third-color-ligth:#F2EEF8;
$third-color:#b9539a;
$third-color-dark:#3c1b5f;


$white:#f9f9f9;
$black:#212121;

$gray-ligth:#f1f1f1;
$gray:#DADADA;
$gray-dark:#636363;


$success-color-ligth:#8dd8cf;
$success-color:#3fb6aa;
$success-color-dark:#1c8c7e;

$error-color-ligth:#dd5089;
$error-color:#bc2860;
$error-color-dark:#8c1344;

$warning-color-ligth:#8fa1ea;
$warning-color:#6272d3;
$warning-color-dark:#364ba3;


$secondary-font: 'Roboto', sans-serif;
$main-font: 'Poppins', sans-serif;

$breakpoint-phone:950px;

$fuente-titulo:'Red Hat Display', sans-serif;